<section class="app mb15">
    <div class="container pt15">
        <div class="app__title app-title mb10">
            <div class="app-title__left mr10">
                <img class="app-logo" src="../../images/logo.svg" alt="">
            </div>
            <div class="app-title__right">
                <p class="fz17 fw500">Denim by Золушка project</p>
                <p class="fz14 mb10">By Dornoom LP</p>
                <div class="app-statistic">
                    <div class="app-statistic__downloads mr15">
                        <i class="icon-download mr5"></i>
                        <span class="fz13 text-gray">334 455</span>
                    </div>
                    <div class="app-statistic__reviews">
                        <i class="icon-chat mr5"></i>
                        <span class="fz13 text-gray">987</span>
                    </div>
                </div>
            </div>
        </div>
        <p class="app-version fz12 mb15">Текущая версия 5.10.0, обновлено 6 мая 2017 г.</p>
        <p class="app-install text-center"><span class="button button_persian-green js-open-popup" data-open-popup="instruction">Установить</span></p>
    </div>
</section>