<section class="detailed-instruction mb15">
    <div class="container">
        <p class="fz14 mb8">Вам необходимо перейти в настройки устройства, это можно сделать опустив панель уведомлений (шторку) вниз и в правом верхнем углу нажать на значок шестеренки или перейти в настройки из самого уведомления.</p>
        <img class="detail-instruction__image mb15" src="../../images/detail-instruction-1.jpg" alt="">
        <p class="fz14 mb8">Если Вы выберите первый способ, то Вам нужно зайти в пункт «Безопасность и отпечаток пальца».</p>
        <img class="detail-instruction__image mb15" src="../../images/detail-instruction-2.jpg" alt="">
        <p class="fz14 mb8">Прокрутите список до пункта «Неизвестные источники». Поставьте галочку напротив этого пункта.</p>
        <img class="detail-instruction__image mb15" src="../../images/detail-instruction-3.jpg" alt="">
        <p class="fz14 mb8">Появится предупреждение о том, что это небезопасно. Необходимо согласиться.</p>
        <img class="detail-instruction__image mb15" src="../../images/detail-instruction-4.jpg" alt="">
        <p class="fz14 mb25">Теперь установка приложений из неизвестных источников на android разрешена.</p>
        <p class="fz14 mb8">Чтобы найти файл, откройте приложение «Файлы» или любой другой файловый менеджер и найдите там denim-app.apk.</p>
        <img class="detail-instruction__image mb15" src="../../images/detail-instruction-5.jpg" alt="">
        <img class="detail-instruction__image mb15" src="../../images/detail-instruction-6.jpg" alt="">
        <p class="fz14 mb8">Либо найдите файл в шторке уведомлений.</p>
        <div class="down-line mb15"><img class="detail-instruction__image" src="../../images/detail-instruction-7.jpg" alt=""></div>
        <p class="fz12 text-gray mb20">Обращаем Ваше внимание, на разных моделях устройств и версиях операционных систем, могут быть незначительные графические различия.</p>
        <p class="fz12 text-gray mb15">Если у Вас возникли сложности при установке, то Вы также можете установить приложение через другие магазины приложений, например Yandex Store или обратиться в службу поддержки:</p>
    </div>
</section>