<sections class="reviews mb15">
    <div class="container">
        <p class="fz16 fw700 mb15">Отзывы</p>
        <div class="reviews__item">
            <div class="review-header">
                <div class="review-header__photo-wrapper mr7">
                    <div class="review-header__photo">
                        <img class="round" src="../../images/nickolai.png" alt="">
                    </div>
                </div>
                <div class="review-header__info">
                    <div class="review-header__author">Николай Рудаков</div>
                    <div class="review-header__rating">
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_gray"></i>
                    </div>
                </div>
            </div>
            <div class="reviews__body">
                Регистрировался где-то полгода назад, приложение глючило еще.. Сейчас уже без багов вроде работает. Качать можно. Но девочки, в основном, с серьезными запросами. На шару не прокатит
            </div>
        </div>
        <div class="reviews__item">
            <div class="review-header">
                <div class="review-header__photo-wrapper mr7">
                    <div class="review-header__photo">
                        <img class="round" src="../../images/aleksei.png" alt="">
                    </div>
                </div>
                <div class="review-header__info">
                    <div class="review-header__author">Алексей Коротаев</div>
                    <div class="review-header__rating">
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_gray"></i>
                    </div>
                </div>
            </div>
            <div class="reviews__body">
                Справедливости ради надо скзаать , что за свои деньги пусть и не такие малеьнькие по сравнению с другими сервисами получаешь вполне себе внятный продукт про знакомства без обязательств.
            </div>
        </div>
        <div class="reviews__item">
            <div class="review-header">
                <div class="review-header__photo-wrapper mr7">
                    <div class="review-header__photo">
                        <img class="round" src="../../images/dinara.png" alt="">
                    </div>
                </div>
                <div class="review-header__info">
                    <div class="review-header__author">Dinara Murzagulova</div>
                    <div class="review-header__rating">
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_filled mr3"></i>
                        <i class="icon-star icon-star_gray"></i>
                    </div>
                </div>
            </div>
            <div class="reviews__body">
                Узнала про этот продукт через «Бешенство Машки», которая его рекламировала. Доверяю ей во многих вопросах, поэтому скачала и сейчас хочу посоветовать тем девочкам, которые попали в тяжелую ситуацию как я (пару месяцев была вынуждена уйти с работы и денег вообще не было). Мужчины стали помогать, на этом сервисе много таких, причем вполне себе симпатичных, для которых нужно чуть больше чем просто знакомства…
            </div>
        </div>
    </div>
</sections>