<section class="screenshots mb15">
    <div class="container container_carousel">
        <div class="screenshots-slider owl-carousel">
            <div class="screenshots-slider__image"><img src="images/slider-image1.jpg" alt=""></div>
            <div class="screenshots-slider__image"><img src="images/slider-image0.jpg" alt=""></div>
            <div class="screenshots-slider__image"><img src="images/slider-image1.jpg" alt=""></div>
            <div class="screenshots-slider__image"><img src="images/slider-image0.jpg" alt=""></div>
            <div class="screenshots-slider__image"><img src="images/slider-image1.jpg" alt=""></div>
        </div>
    </div>
</section>