<section class="technical-problem mb15">
    <div class="container container_lightest-yellow text-center pt20 pb15">
        <div class="technical-problem__flex mb15">
            <div class="technical-problem__svg">
                <img class="technical-problem__svg_ggl" src="../../images/ggl-play.svg" alt="">
            </div>
            <div class="technical-problem__svg">
                <img class="technical-problem__svg_gear" src="../../images/repairing-service.svg" alt="">
            </div>
        </div>
        <p class="text-darkest-green fz13 fw500 opacity09">По техническим причинам приложение для скачивания через Google Play временно недоступно, ниже Вы найдете подробные инструкции как установить Denim на свой смартфон.</p>
    </div>
</section>