html, body
	margin: 0
	height: 100%

html
	&.popup-opened
		overflow: hidden
		
		body
			overflow: hidden

body
	font-size: 14px
	line-height: 1.36
	font-family: 'Roboto', sans-serif
	height: auto

*
	box-sizing: border-box
	margin: 0
	padding: 0

input, textarea, button
	font-family: inherit
	font-size: inherit
	font-style: inherit
	border: none
	outline: none
	&:focus
		outline: none

button
	border: none
	outline: none
	background: none

a
	text-decoration: none
	color: inherit

.header
	position: relative
	background: linear-gradient(to bottom, #ff1063, #ea044f)

.icon-left
	position: absolute
	top: 50%
	transform: translateY(-50%)


.container
	max-width: 768px
	min-width: 290px
	width: 100%
	padding-left: 15px
	padding-right: 15px
	margin-left: auto
	margin-right: auto

.header_bg
	background: url("../images/header-bg.jpg") repeat-x top, linear-gradient(to bottom, #ff1063, #ea044f)
	background-size: contain
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

.container_lightest-yellow
	background-color: #F8FEF4

.container_carousel
	padding-right: 0
	padding-left: 0

.flex
	display: flex

.flex__left-item
	flex-grow: 1
	flex-basis: 0

.header-flex
	position: relative
	display: flex
	flex-direction: column
	padding: 40px 0 30px

.header-flex_popup
	padding: 20px 0 10px

.header__logo
	text-align: center

.logo-title
	display: inline-block
	position: relative
	&::after
		font-style: normal
		font-weight: normal
		font-family: "fontello"
		position: absolute
		content: '\e804'
		top: -15%
		left: 20%
		height: 0
		font-size: 65%
		color: #00dba3
	&::before
		position: absolute
		top: 0
		right: -18%
		content: "18+"
		border: 1px solid #FFFFFF
		font-size: 21%
		width: 12%
		height: 23%
		padding: 2% 1% 1% 1%

.app-logo
	width: 100%

.app-logo_instruction
	width: 20%

.technical-problem__flex
	display: flex
	justify-content: center

.technical-problem__svg
	width: 10%
	position: relative
	&:first-child
		margin-right: 10%
		&::before
			position: absolute
			content: ''
			top: 0
			right: -50%
			height: 100%
			border-right: 1px solid rgba(#d8d8d8, 0.34)


.technical-problem__svg_gear
	width: 100%

.technical-problem__svg_ggl
	width: 100%

.app-title
	display: flex

.app-title__left
	min-width: 70px
	width: 17%

.app-title__right
	flex-shrink: 1
	display: flex
	flex-direction: column

.app-statistic
	display: flex
	line-height: 1

.app-statistic__downloads
	display: flex
	align-items: flex-end

.app-statistic__reviews
	display: flex
	align-items: flex-end

.button
	display: inline-block
	box-sizing: border-box
	width: 100%
	font-size: 90%
	font-weight: 500
	color: #FFFFFF
	text-align: center
	padding: 9px 15px 7px
	text-transform: uppercase
	cursor: pointer
	border-radius: 3px
	+transition(all 0.3s ease)
	&:hover
		box-shadow: inset 0 0 1000px 0 rgba(0,0,0,0.3)

.button_persian-green
	background-color: #00C89B

.button_gray
	background-color: #9b9b9b
	&:hover
		box-shadow: none
	
.default-link
	&:hover
		text-decoration: underline

.text-uppercase
	text-transform: uppercase

.title
	position: relative
	color: #00c89b
	font-weight: 500
	text-transform: uppercase

.down-line
	position: relative
	padding-bottom: 15px
	&:after
		position: absolute
		display: block
		content: ''
		bottom: 0
		left: 0
		right: 0
		border-bottom: 1px solid #d8d8d8

.has-border
	padding-bottom: 10px
	border-bottom: 1px solid #d8d8d8

.top-line
	position: relative
	padding-top: 15px
	&::after
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		border-top: 1px solid #d8d8d8


.title_readmore
	&::after
		content: none

.read-more
	+transition(all 0.3s ease)
	position: relative
	&.hidden
		height: 100px
		overflow: hidden
		margin-bottom: 4.5%
		&::after
			position: absolute
			content: ''
			top: 0
			left: 0
			bottom: 0
			width: 100%
			background: linear-gradient(to bottom, rgba(#FFFFFF, 0), rgba(#FFFFFF, 1))
			p
				color: transparent

		.has-hidden-add
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis

.pointer
	cursor: pointer

.display-none
	display: none

.screenshots-slider
	.owl-item
		max-width: 40vw !important
		min-width: 180px

.screenshots-slider__image
	min-height: 230px
	min-width: 130px
	//max-width: 40%
	margin-right: 1.5vw
	img
		min-height: 230px
		object-fit: cover

.reviews
	display: flex
	flex-direction: column

.reviews__item
	margin-bottom: 5.5%
	&:last-child
		margin-bottom: 0

.review-header
	display: flex
	margin-bottom: 4.5%

.review-header__photo
	height: 100%
	width: 100%
	overflow: hidden
	border-radius: 50%
	position: relative
	padding-bottom: 100%

.review-header__photo-wrapper
	width: 11%
	align-self: center

.round
	position: absolute
	object-fit: cover
	width: 100%
	height: 100%

.review-header__author
	font-size: 86%
	font-weight: 500
	display: flex
	justify-content: space-between
	align-items: center

.review-header__rating
	display: flex

.review-header__info
	display: flex
	flex-direction: column
	flex-grow: 1

.reviews__body
	font-style: italic
	font-size: 86%
	color: #808080
	padding: 6px 12px
	background-color: #f6f6f6
	border-radius: 10px

.alternative-markets
	padding-bottom: 30px

	.container
		padding-right: 0
	.owl-item
		width: 27vw !important
		box-sizing: border-box

.alternative-markets-slider__item
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 100%
	padding-right: 5vw !important

.alternative-markets-slider__image-wrapper-wrapper
	width: 100%
	align-self: center

.alternative-markets-slider__image-wrapper
	height: 100%
	width: 100%
	overflow: hidden
	position: relative
	padding-bottom: 100%


.alternative-markets-slider__image
	position: absolute
	object-fit: cover
	width: 100%
	height: 100%

.detail-instruction__image
	display: inline-block
	max-width: 100%

.support-form__selectbox
	position: relative
	width: 100%
	&::before
		position: absolute
		content: ''
		top: 50%
		right: 5px
		width: 0
		height: 0
		margin-top: -3px
		border-style: solid
		border-width: 5px 5px 0 5px
		border-color: #b4b4be transparent transparent transparent
		align-self: center
	select
		cursor: pointer
		left: 0
		top: 0
		height: 100%
		position: absolute
		opacity: 0
		width: 100%
		z-index: 10

.support-form__select
	position: relative
	cursor: pointer
	font-size: 16px
	width: 100%
	color: #000000
	padding: 0 5px 5px
	&::after
		position: absolute
		content: ''
		bottom: 0
		left: 0
		width: 100%
		border-bottom: 1px solid #e6e6eb

.support-form__select_placeholder
	color: #b4b4be
	
.gray-text
	color: #b4b4be

.support-form__select_not-filled
	color: #fa2f5b

.not-filled, .has-error
	color: #fa2f5b
	&.support-form__input
		border-bottom: 1px solid #fa2f5b
		&:focus
			border-bottom: 1px solid #fa2f5b
		&::-webkit-input-placeholder
			color: #fa2f5b
		&::-moz-placeholder
			color: #fa2f5b
		&:-moz-placeholder
			color: #fa2f5b
		&:-ms-input-placeholder
			color: #fa2f5b
	&.support-form__subject
		border-color: #fa2f5b

.support-form__input
	width: 100%
	padding: 0 5px 5px
	border-bottom: 1px solid #e6e6eb
	font-size: 16px
	&:focus
		border-color: #00c89b
		background: none
	&::-webkit-input-placeholder
		color: #b4b4be
	&::-moz-placeholder
		color: #b4b4be
	&:-moz-placeholder
		color: #b4b4be
	&:-ms-input-placeholder
		color: #b4b4be

input
	border: none
	outline: none
	background: none
	&:focus
		background: none

select
	color: #000
	border: none
	&:focus
		outline: none

.popup-wrapper
	top: 0
	left: -100%
	//transform: translateX(100%)
	display: flex
	//align-items: flex-start
	height: 100%
	width: 100%
	position: fixed
	z-index: 100
	background-color: #fff
	//visibility: hidden
	//opacity: 0
	+transition(all 0.3s ease)
	overflow-y: auto
	&.opened
		//visibility: visible
		//opacity: 1
		left: 0
		//transform: translateX(0)
		box-shadow: 0 0 500px #fff
		
	&.thanks-popup
		background: rgba(#000, 0.3)
		left: 0
		visibility: hidden
		opacity: 0
		
		.popup
			margin: auto
			top: -20px
			width: auto
			max-width: 95%
			background-color: #FFFFFF
			padding: 25px 15px 25px
			transition: all 0.3s ease
			z-index: 1000
			
		&.opened
			opacity: 1
			visibility: visible
			.popup
				top: 0

.opacity09
	opacity: 0.9

.popup
	background-color: #FFFFFF
	position: relative
	width: 100%
	margin: 0

.popup_subject
	max-width: 320px

.popup-opened
	body
		&::after
			position: fixed
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 100

footer
	border-top: 1px solid #d8d8d8
	color: #c9c9c9

.fontello
	position: relative
	&::after
		font-family: 'fontello'
		font-style: normal
		font-weight: normal
		display: inline-block
		font-size: 26px
		line-height: 1

.fontello_downloads
	&::after
		content: '\e801'
		color: #ec0550

.support-form__subject
	cursor: pointer
	position: relative
	width: 100%
	padding: 0 5px 5px
	font-size: 16px
	border-bottom: 1px solid #e6e6eb
	&::before
		position: absolute
		content: ''
		top: 50%
		right: 5px
		width: 0
		height: 0
		margin-top: -3px
		border-style: solid
		border-width: 5px 5px 0 5px
		border-color: #b4b4be transparent transparent transparent
		align-self: center

.subject-wrapper
	visibility: hidden
	opacity: 0
	position: absolute
	display: flex
	align-items: center
	justify-content: center
	top: 0
	left: 0
	background: rgba(0,0,0,0.5)
	width: 100%
	height: 100%
	+transition(all 0.3s ease)
	&.opened
		visibility: visible
		opacity: 1
		.modal-subject
			transform: scale(1)


.modal-subject
	max-width: 95%
	background-color: #FFFFFF
	padding: 25px 15px 15px
	transition: (all 0.3s ease)
	transform: scale(0)
	z-index: 1000

.radiobox__radio
	margin-bottom: 5.5%
	&:last-child
		margin-bottom: 10%

.radiobox__buttons
	display: flex
	justify-content: flex-end
	
.radiobox__button
	color: #00c89b

.support-form__textarea
	width: 100%
	max-height: 250px
	padding: 0 5px 5px
	font-size: 16px
	resize: vertical
	border-bottom: 1px solid #e6e6eb
	color: #000
	outline: none
	&:focus
		border-bottom: 1px solid #00c89b
	&::-webkit-input-placeholder
		color: #b4b4be
	&::-moz-placeholder
		color: #b4b4be
	&:-moz-placeholder
		color: #b4b4be
	&:-ms-input-placeholder
		color: #b4b4be
		
input[type=radio]
	display: none

input[type=radio]:not(old):checked + label
	&::after
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 0
		width: 16px
		height: 16px
		border: 2px solid #00dba3
		border-radius: 50%
	&::before
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 5px
		width: 10px
		height: 10px
		background-color: #00dba3
		border-radius: 50%

.radiobox__radio-label
	position: relative
	padding-left: 40px
	margin-left: -40px
	&::after
		content: ''
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 0
		width: 16px
		height: 16px
		border: 2px solid #00dba3
		border-radius: 50%

.radiobox
	margin-left: 40px

.mt100
	margin-top: 100px

.rating
	display: flex
	padding: 0 20px
	align-items: center

.score
	font-size: 250%
	font-weight: 400

.reviews-stats
	display: flex
	align-items: center


.reviews-stats__reviews-count
	font-weight: 400
	font-size: 60%
	line-height: 1

.score-container
	display: flex
	flex-direction: column
	align-items: center

.all-stars
	position: relative
	width: 106px
	
.fri_five-stars, .fri_five-stars-current
	position: absolute

.current-stars-container
	position: relative
	overflow: hidden
	width: 93%
	height: 15px

.histogram-container
	flex-grow: 1
	padding-left: 50px

.rating-bar-container
	padding: 5px 0 5px 5px
	font-size: 70%
	line-height: 1
	margin-bottom: 1%
	position: relative
	&:last-child
		margin-bottom: 0
	&::before
		position: absolute
		content: ''
		left: -40px
		top: 50%
		transform: translateY(-50%)

.rating-bar-container__five, .rating-bar-container__four, .rating-bar-container__three, .rating-bar-container__two, .rating-bar-container__one
	background-color: #a0c05b
	width: 90%
	position: relative
	&::after
		position: absolute
		left: -20px
		top: 50%
		transform: translateY(-50%)

.rating-bar-container__five
	background-color: #add62f
	&::after
		content: '5'

.rating-bar-container__four
	background-color: #add62f
	&::after
		content: '4'

.rating-bar-container__three
	background-color: #ffd832
	&::after
		content: '3'

.rating-bar-container__two
	background-color: #f9b246
	&::after
		content: '2'

.rating-bar-container__one
	background-color: #ff8b58
	&::after
		content: '1'

.review-header__author-icon
	display: flex
	align-items: center

.review-header__author-menu-icon
	color: #757575
	font-size: 40px
	line-height: 1
	cursor: pointer
	&:hover
		color: #444444

.fri_like
	cursor: pointer