{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="app-wrapper">
        <header>
            <div class="container">
                <div class="header__logo">
                    <i class="icon-header-logo"></i>
                </div>
                <div class="header__title">Только красивые девушки<br>и успешные мужчины</div>
            </div>
        </header>
        <section class="download">
            <div class="container">
                <div class="display-flex">
                    <i class="icon-app-logo"></i>
                    <div class="download__content">
                        <div class="download__title">Denim by Золушка project</div>
                        <div class="download__subtitle">By Dornoom LP</div>
                        <div class="download__info display-flex">
                            <div class="mr15"><i class="icon-downloads"></i> 344 455</div>
                            <div class="mr15"><i class="icon-comments"></i> 987</div>
                        </div>
                    </div>
                </div>
                <div class="download__release-date">Текущая версия 5.10.0, обновлено 6 мая 2017 г.</div>
                <div class="mb20">
                    <a href="#" class="green-button button">Установить</a>
                </div>
            </div>
        </section>
        <section class="config-play-store">
            <div class="container">
                <i class="icon-play-store-config"></i>
                <div class="config-play-store__info">
                    По техническим причинам приложение для скачки через Google Play временно недоступно, ниже Вы найдете
                    подробные инструкции как установить Denim на свой смартфон.
                </div>
            </div>
        </section>
        <section class="how-download">
            <div class="container">
                <div class="bold text-left">
                    Как скачивать приложения не из Google Play?
                </div>
                <div>
                    Чтобы устанавливать приложения не только из Google Play, разрешите скачивание из неизвестных
                    источников:
                </div>
                <ul>
                    <li>Откройте настройки устройства Настройки.</li>
                    <li>В разделе "Личные данные" выберите Безопасность.</li>
                    <li>В разделе "Администрирование устройства" разрешите установку приложений из неизвестных
                        источников
                    </li>
                </ul>
                <div>
                    После скачивания приложения (файл называется: denim-app.apk) найдите его в шторке уведомлений или
                    перейдите в
                    <span class="green-text">загрузки</span> и нажмите на него.
                </div>
                <div>
                    Далее следуйте инструкциям на экране
                </div>
                <div class="display-flex flex-middle">
                    <div class="mr10">
                        Готово! Приложение успешно установлено! Вы можете найти значок приложения на Вашем рабочем
                        столе.
                    </div>
                    <i class="icon-logo"></i>
                </div>
                <div>
                    <a href="#" class="green-button button">Установить</a>
                </div>
                <div class="green-title text-uppercase">Подробная инструация с картинками</div>
                <div class="fz12">
                    <p>Обращаем Ваше внимание, на разных моделях устройств и версиях операционных систем, могут быть
                        незначительные графические различия.</p>
                    <p>Если у Вас возникли сложности при установке, то Вы также можете установить приложение через
                        другие магазины приложений, например Yandex Store или обратиться в службу поддержки:</p>
                </div>
                <div class="bottom-buttons">
                    <a href="#" class="green-title text-uppercase">YANDEX STORE</a>
                    <a href="#" class="green-title text-uppercase">Обратиться в поддержку</a>
                </div>

                <div class="fz16">
                    Denim создан для тех, кто ищет честный формат отношений и готов закрывать глаза на формальности.
                </div>

                <div class="half-hidden-block">
                    <div class="hidden-content">
                        <p>Мы сделали знакомства без обязательств для красивых девушек и
                            успешных мужчин максимально
                            быстрыми и удобными. Это стало возможным благодаря строгой модерации девушек, а также
                            «клубной
                            системе» для представителей сильного пола (доступ для мужчин к сервису платный). Данная
                            политика
                            отсекает любителей «поболтать» и позволяет привлечь к ресурсу только тех, кто ищет реальные
                            знакомства и свидания.</p>

                        <p>В DENIM нет никаких скрытых и обязательных подписок. Пользуйтесь DENIM только тогда, когда
                            вам
                            это нужно!</p>

                        <p>DENIM от сервиса «Золушка project» — это уже зарекомендовавший себя дейтинг для по-настоящему
                            красивых девушек, ищущих успешных мужчин, которые хотят тратить деньги на достойные подарки.
                            По-другому таких девушек также называют «содержанки».</p>

                        <p>Нужен спонсор, друзья, собеседник или собеседница на вечер, хотите пойти на свидание, найти
                            любовь? Ищите интимные встречи вдвоем, знакомства для интима (они же секс знакомства),
                            знакомства онлайн, любовные игры, виртуальный секс, серьезные или необременительные
                            отношения по
                            расчету с интересным вам человеком? Характер общения определяете только вы!</p>

                        <p>Являетесь сторонником free love, муж или супруга надоели, хотите завести интрижку на стороне,
                            думаете, что ваш принц или та самая девушка вас еще где-то ждет, но рулетка с приложениями,
                            предлагающими знакомства по геолокации, не для вас? Тогда скачивайте DENIM!</p>

                        <p>Отправляйте сообщения, фото, делитесь своими желаниями и реализуйте их в жизни, находите
                            подходящие пары в вашем городе.</p>

                        <p>Иконка приложения не вызовет у окружающих лишних вопросов; доступ в приложение защищен
                            кодом-паролем.</p>
                    </div>
                    <div class="show-button text-center green-title">Читать далее</div>
                </div>
            </div>
        </section>

        <section class="carousel">
            <div class="container">
                <div class="owl-carousel">
                    <img alt="" src="http://placehold.it/200x300"/>
                    <img alt="" src="http://placehold.it/200x300"/>
                    <img alt="" src="http://placehold.it/200x300"/>
                    <img alt="" src="http://placehold.it/200x300"/>
                </div>
            </div>
        </section>

        <section class="reviews">
            <div class="container">
                <p class="black-title fz16 ffb">Отзывы</p>

                <div class="reviews__list">
                    {% for i in 1..3 %}
                        <div class="reviews__item">
                            <div class="reviews__header display-flex flex-middle">
                                <img alt="" src="http://placehold.it/26x26"/>
                                <div>
                                    <p class="fz12 ffb">Николай Рудаков</p>
                                    <div class="reviews__stars">
                                        <i class="review-star"></i>
                                        <i class="review-star"></i>
                                        <i class="review-star"></i>
                                        <i class="review-star"></i>
                                        <i class="review-star-empty"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="reviews__content">
                                Регистрировался где-то полгода назад, приложение глючило еще.. Сейчас уже без багов вроде работает. Качать можно. Но девочки, в основном, с серьезными запросами. На шару не прокатит
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="other-install">
            <div class="container">
                <p class="fz14 ffb">Установливайте наше приложение из альтернативных маркетов Google Play</p>

                <div class="owl-carousel">
                    <a href="#" class="other-install__item">
                        <div>
                            <i class="other-1"></i>
                        </div>
                        <div>
                            <a href="#" class="other__link">Slideme</a>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}