{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="app-wrapper">
        <header>
            <div class="container">
                <div class="header__logo">
                    <i class="icon-header-logo"></i>
                </div>
                <div class="header__title">Только красивые девушки<br>и успешные мужчины</div>
            </div>
        </header>
        <section class="download">
            <div class="container">
                <div class="display-flex">
                    <i class="icon-app-logo"></i>
                    <div class="download__content">
                        <div class="download__title">Denim by Золушка project</div>
                        <div class="download__subtitle">By Dornoom LP</div>
                        <div class="download__info display-flex">
                            <div class="mr15"><i class="icon-downloads"></i> 344 455</div>
                            <div class="mr15"><i class="icon-comments"></i> 987</div>
                        </div>
                    </div>
                </div>
                <div class="download__release-date">Текущая версия 5.10.0, обновлено 6 мая 2017 г.</div>
                <div class="mb20">
                    <a href="#" class="green-button">Установить</a>
                </div>
            </div>
        </section>
        section.
    </div>
{% endblock %}