{% extends "layouts/app.twig" %}

{% block pageTitle %}Обновление приложения Denim{% endblock %}

{% block content %}

    <div class="app-wrapper">

        {% include "components/app-header.twig" %}

        {% include "components/technical-problem.twig" %}

        {% include "components/update-app.twig" %}

        {% include "components/app-info.twig" %}

        {% include "components/screenshots.twig" %}

        {% include "components/reviews.twig" %}

        {% include "components/alternative-markets.twig" %}

    </div>


{% endblock %}