{% extends "layouts/app.twig" %}

{% block pageTitle %}Отзывы{% endblock %}

{% block content %}

    <div class="app-wrapper">

        {% include "components/app-header.twig" %}

        {% include "components/app-info.twig" %}

        {% include "components/screenshots.twig" %}

        {% include "components/reviews.twig" %}

        {% include "components/alternative-markets.twig" %}

    </div>


{% endblock %}