{% extends "layouts/app.twig" %}

{% block pageTitle %}Обновление приложения Denim{% endblock %}

{% block content %}

    <div class="app-wrapper">

        {% include "layouts/app-header.twig" %}

        {% include "layouts/technical-problem.twig" %}

        {% include "layouts/update-app.twig" %}

        {% include "layouts/app-info.twig" %}

        {% include "layouts/screenshots.twig" %}

        {% include "layouts/reviews.twig" %}

        {% include "layouts/alternative-markets.twig" %}

    </div>


{% endblock %}