{% extends "layouts/app.twig" %}

{% block pageTitle %}Подробная инструкция установки приложения Denim{% endblock %}

{% block content %}

    {% set state2 = "true" %}

    <div class="app-wrapper">

        {% include "components/app-header.twig" %}

        {% include "components/technical-problem.twig" %}

        {% include "components/instruction.twig" with {"hidden": "false"}%}

        {#{% include "components/detailed-instruction.twig" %}#}

        {% include "components/app-info.twig" %}

        {% include "components/screenshots.twig" %}

        {% include "components/reviews.twig" %}

        {% include "components/alternative-markets.twig" %}

    </div>


{% endblock %}