<section class="alternative-markets mb15">
    <div class="container">
        <p class="fz14 fw500 mb20">Устанавливайте наше приложение из альтернативных маркетов Google Play</p>
        <div class="alternative-markets-slider owl-carousel">
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/slideme.png">
                <p class="fz14 fw300 text-persian-green text-center">Slideme</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/openmobile.png">
                <p class="fz14 fw300 text-persian-green text-center">Openmobile</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/mikandi.png">
                <p class="fz14 fw300 text-persian-green text-center">Mikandi</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/aptoide.png">
                <p class="fz14 fw300 text-persian-green text-center">Aptoide</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/openmobile.png">
                <p class="fz14 fw300 text-persian-green text-center">Openmobile</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/mikandi.png">
                <p class="fz14 fw300 text-persian-green text-center">Mikandi</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/slideme.png">
                <p class="fz14 fw300 text-persian-green text-center">Slideme</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/aptoide.png">
                <p class="fz14 fw300 text-persian-green text-center">Aptoide</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/mikandi.png">
                <p class="fz14 fw300 text-persian-green text-center">Mikandi</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/slideme.png">
                <p class="fz14 fw300 text-persian-green text-center">Slideme</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/aptoide.png">
                <p class="fz14 fw300 text-persian-green text-center">Aptoide</p>
            </div>
            <div class="alternative-markets-slider__item">
                <img class="alternative-markets-slider__image" src="images/mikandi.png">
                <p class="fz14 fw300 text-persian-green text-center">Mikandi</p>
            </div>
        </div>
    </div>
</section>