<footer class="footer">
    <div class="container">
        <p>Сайт предназначен для лиц, достигших 18-ти летнего возраста.</p>
        <p>Администрация не несёт ответственности за размещённые анкеты - Вся информация на сайте предоставлена
            посетителями</p>
    </div>
</footer>