<header>
    <div class="container">
        <div class="header__logo">
            <i class="icon-header__logo"></i>
            <div>Только красивые девушки и успешные мужчины</div>
        </div>
        <div class="header__right">
            <a href="#" class="empty-button">Мобильная версия</a>
        </div>
    </div>
</header>