<header class="header header_bg">
    <div class="container">
        <div class="header-flex">
            <div class="header__logo">
                <p class="logo-title text-white fz36 text-center">Denim</p>
            </div>
            <div class="header__subtext">
                <p class="fz18 text-white text-center">Только красивые девушки <br>и успешные мужчины</p>
            </div>
        </div>
    </div>
</header>