<div class="popup-wrapper js-popup" data-popup="all-reviews">
    <div class="popup">

        <section class="header mb25">
            <div class="container container_pink">
                <div class="header-flex header-flex_popup">
                    <i class="header__back js-close-popup"></i>
                    <div class="header__logo">
                        <p class="logo-title text-white fz36 text-center">Denim</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews mb15">
            <div class="container">
                <p class="fz16 fw700 mb15">Отзывы</p>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/nickolai.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Николай Рудаков</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Регистрировался где-то полгода назад, приложение глючило еще.. Сейчас уже без багов вроде работает. Качать можно. Но девочки, в основном, с серьезными запросами. На шару не прокатит
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/aleksei.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Алексей Коротаев</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Справедливости ради надо скзаать , что за свои деньги пусть и не такие малеьнькие по сравнению с другими сервисами получаешь вполне себе внятный продукт про знакомства без обязательств.
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/dinara.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Dinara Murzagulova</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Узнала про этот продукт через «Бешенство Машки», которая его рекламировала. Доверяю ей во многих вопросах, поэтому скачала и сейчас хочу посоветовать тем девочкам, которые попали в тяжелую ситуацию как я (пару месяцев была вынуждена уйти с работы и денег вообще не было). Мужчины стали помогать, на этом сервисе много таких, причем вполне себе симпатичных, для которых нужно чуть больше чем просто знакомства…
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/nickolai.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Николай Рудаков</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Регистрировался где-то полгода назад, приложение глючило еще.. Сейчас уже без багов вроде работает. Качать можно. Но девочки, в основном, с серьезными запросами. На шару не прокатит
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/aleksei.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Алексей Коротаев</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Справедливости ради надо скзаать , что за свои деньги пусть и не такие малеьнькие по сравнению с другими сервисами получаешь вполне себе внятный продукт про знакомства без обязательств.
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/dinara.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Dinara Murzagulova</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Узнала про этот продукт через «Бешенство Машки», которая его рекламировала. Доверяю ей во многих вопросах, поэтому скачала и сейчас хочу посоветовать тем девочкам, которые попали в тяжелую ситуацию как я (пару месяцев была вынуждена уйти с работы и денег вообще не было). Мужчины стали помогать, на этом сервисе много таких, причем вполне себе симпатичных, для которых нужно чуть больше чем просто знакомства…
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/nickolai.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Николай Рудаков</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Регистрировался где-то полгода назад, приложение глючило еще.. Сейчас уже без багов вроде работает. Качать можно. Но девочки, в основном, с серьезными запросами. На шару не прокатит
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/aleksei.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Алексей Коротаев</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Справедливости ради надо скзаать , что за свои деньги пусть и не такие малеьнькие по сравнению с другими сервисами получаешь вполне себе внятный продукт про знакомства без обязательств.
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="review-header">
                        <div class="review-header__photo mr7">
                            <img class="round round28x28" src="images/dinara.png" alt="">
                        </div>
                        <div class="review-header__info">
                            <div class="review-header__author mb3">Dinara Murzagulova</div>
                            <div class="review-header__rating">
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star mr7"></i>
                                <i class="fri fri_star-gray"></i>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__body">
                        Узнала про этот продукт через «Бешенство Машки», которая его рекламировала. Доверяю ей во многих вопросах, поэтому скачала и сейчас хочу посоветовать тем девочкам, которые попали в тяжелую ситуацию как я (пару месяцев была вынуждена уйти с работы и денег вообще не было). Мужчины стали помогать, на этом сервисе много таких, причем вполне себе симпатичных, для которых нужно чуть больше чем просто знакомства…
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="popup-wrapper opened js-popup" data-popup="technical-support">
    <div class="popup">
        <section class="header mb25">
            <div class="container container_pink">
                <div class="header-flex header-flex_popup">
                    <i class="header__back js-close-popup"></i>
                    <div class="header__logo">
                        <p class="logo-title text-white fz36 text-center">Denim</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="technical-support">
            <div class="container">
                <p class="fz16 fw700 mb35">Обращение в службу поддержки</p>
                <form class="support-form" action="#" method="get">
                    <div class="support-form__selectbox mb30">
                        <select class="jq-selectbox" data-placeholder="Укажите тему">
                            <option value=""></option>
                            <option value="Установка приложения">Установка приложения</option>
                            <option value="Ошибка в работе приложения">Ошибка в работе приложения</option>
                        </select>
                        <div class="support-form__select"></div>
                    </div>
                    <input class="support-form__input mb15" type="text" placeholder="Email">
                    <p class="text-center">
                        <button class="button button_gray button-support">Отправить</button>
                    </p>
                </form>
            </div>
        </section>
    </div>
</div>

<div class="popup-wrapper js-popup" data-popup="instruction">
    <div class="popup">
        <section class="header mb25">
            <div class="container container_pink">
                <div class="header-flex header-flex_popup">
                    <i class="header__back js-close-popup"></i>
                    <div class="header__logo">
                        <p class="logo-title text-white fz36 text-center">Denim</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="technical-problem mb15">
            <div class="container container_lightest-yellow text-center pt20 pb15">
                <i class="fri fri_ggl-play mb15"></i>
                <p class="text-darkest-green fz13 fw500">По техническим причинам приложение для скачивания через Google Play временно недоступно, ниже Вы найдете подробные инструкции как установить Denim на свой смартфон.</p>
            </div>
        </section>
        <section class="instruction mb15">
            <div class="container">
                <p class="fz16 fw700 mb8">Как скачивать приложения не из Google Play?</p>
                <p class="fz14 mb8">Чтобы устанавливать приложения не только из Google Play, разрешите скачивание из неизвестных источников:</p>
                <ul class="instruction-list mb8">
                    <li class="instruction-list__item ml30 pl10">Откройте настройки устройства Настройки.</li>
                    <li class="instruction-list__item ml30 pl10">В разделе "Личные данные" выберите Безопасность.</li>
                    <li class="instruction-list__item ml30 pl10">В разделе "Администрирование устройства" разрешите установку приложений из неизвестных источников</li>
                </ul>
                <p class="fz14 mb8">После скачивания приложения (файл называется: denim-app.apk) найдите его в шторке уведомлений или перейдите в <a class="default-link text-persian-green" href="#">загрузки</a> и нажмите на него.</p>
                <p class="fz14 mb8">Далее следуйте инструкциям на экране</p>
                <div class="flex mb15">
                    <p class="flex__left-item fz14 mr10">Готово! Приложение успешно установлено! Вы можете найти значок приложения на Вашем рабочем столе.</p>
                    <i class="fri fri_app-logo-60"></i>
                </div>
                <p class="instruction__app-install text-center mb15"><a class="button button_persian-green" href="#">Скачать APK</a></p>
                <p class="title down-line text-center mb10"><a class="default-link" href="#">Подробная инструкция с картинками</a></p>
                <p class="fz12 text-gray mb20">Обращаем Ваше внимание, на разных моделях устройств и версиях операционных систем, могут быть незначительные графические различия.</p>
                <p class="fz12 text-gray mb15">Если у Вас возникли сложности при установке, то Вы также можете установить приложение через другие магазины приложений, например Yandex Store или обратиться в службу поддержки:</p>
                <p class="title down-line text-center mb15"><a class="default-link" href="#">Yandex store</a></p>
                <p class="title down-line text-center mb15"><a class="default-link" href="#">Обратиться в поддержку</a></p>
            </div>
        </section>
    </div>
</div>