<section class="technical-problem mb15">
    <div class="container container_lightest-yellow text-center pt20 pb15">
        <div class="technical-problem__flex mb15">
            <img class="technical-problem__svg" src="images/ggl-play.svg" alt="">
            <img class="technical-problem__svg" src="images/repairing-service.svg" alt="">
        </div>
        <p class="text-darkest-green fz13 fw500 opacity09">По техническим причинам приложение для скачивания через Google Play временно недоступно, ниже Вы найдете подробные инструкции как установить Denim на свой смартфон.</p>
    </div>
</section>